<a href="https://colab.research.google.com/github/tanmoyee04/The-Uplift-project/blob/main/Apriori_algo_using_minconfidence.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# A - apple
# B - banana
# C - cherry
# D - dragonfruit
# E - elderberry

# Creating dataset

ds = [['apple','banana'],
      ['banana','dragonfruit'],
      ['banana','cherry'],
      ['apple','banana','dragonfruit'],
      ['apple','cherry'],
      ['banana','cherry'],
      ['apple','cherry'],
      ['apple','banana','cherry','elderberry'],
      ['apple','banana','cherry']]

In [ ]:
# Importing the libraries

import pandas as pd
from mlxtend.preprocessing import TransactionEncoder
from mlxtend.frequent_patterns import apriori

In [ ]:
obj = TransactionEncoder()
var = obj.fit(ds).transform(ds)
df = pd.DataFrame(var,columns=obj.columns_)
df

   apple  banana  cherry  dragonfruit  elderberry
0   True    True   False        False       False
1  False    True   False         True       False
2  False    True    True        False       False
3   True    True   False         True       False
4   True   False    True        False       False
5  False    True    True        False       False
6   True   False    True        False       False
7   True    True    True        False        True
8   True    True    True        False       False

In [ ]:
#Apriori algo 

apriori(df,min_support=0.5) #provides assosiativity

    support itemsets
0  0.666667      (0)
1  0.777778      (1)
2  0.666667      (2)

In [ ]:
apriori(df,min_support=0.5,use_colnames=True)

    support  itemsets
0  0.666667   (apple)
1  0.777778  (banana)
2  0.666667  (cherry)