<a href="https://colab.research.google.com/github/tanmoyee04/The-Uplift-project/blob/main/Apriori_Algorith.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Makret basket analysis : It works by looking for combinations of items that occur together frequently in transactions. To put it another way, it allows retailers to identify 
#relationships between the items that people buy.

#creating dataset
#  1 = laptop
#  2 = mobile
#  3 = TV
#  4 = smart_watch
#  5 = tablet
ds = [['laptop','TV','smart_watch'],
      ['mobile','TV','tablet'],
      ['laptop','mobile','TV','tablet'],
      ['mobile','tablet'],
      ['laptop','TV','tablet']]

In [2]:
#Importing the libraries
import pandas as pd
from mlxtend.preprocessing import TransactionEncoder #contains implementation of apriori algo

In [3]:
obj = TransactionEncoder()
var = obj.fit(ds).transform(ds)
df = pd.DataFrame(var,columns=obj.columns_)
df

      TV  laptop  mobile  smart_watch  tablet
0   True    True   False         True   False
1   True   False    True        False    True
2   True    True    True        False    True
3  False   False    True        False    True
4   True    True   False        False    True

In [4]:
from mlxtend.frequent_patterns import apriori

In [5]:
#Apriori algo

apriori(df,min_support=0.5) #provides assosiativity

   support itemsets
0      0.8      (0)
1      0.6      (1)
2      0.6      (2)
3      0.8      (4)
4      0.6   (0, 1)
5      0.6   (0, 4)
6      0.6   (2, 4)

In [6]:
apriori(df,min_support=0.5,use_colnames=True) #shows the names of the sets

   support          itemsets
0      0.8              (TV)
1      0.6          (laptop)
2      0.6          (mobile)
3      0.8          (tablet)
4      0.6      (laptop, TV)
5      0.6      (TV, tablet)
6      0.6  (tablet, mobile)