<a href="https://colab.research.google.com/github/tanmoyee04/The-Uplift-project/blob/main/Pandas_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
data = {'Temperature': [20,18,19,20], 'Rainfall': [1.1,0.6,0.9,1.0], 'Mosquitos': [150,217,153,158]}
Date = ['01/01/2020','02/01/2020','03/01/2020','04/01/2020']

In [4]:
df = pd.DataFrame(data, index=Date)
print(df)

            Temperature  Rainfall  Mosquitos
01/01/2020           20       1.1        150
02/01/2020           18       0.6        217
03/01/2020           19       0.9        153
04/01/2020           20       1.0        158

In [6]:
print(df.iloc[[1,2],[0,1]])

            Temperature  Rainfall
02/01/2020           18       0.6
03/01/2020           19       0.9

In [7]:
print(df['Temperature'].max())

20

In [8]:
print(df['Rainfall'].min())

0.6

In [9]:
print(df['Mosquitos'].mean())

169.5