<a href="https://colab.research.google.com/github/tanmoyee04/The-Uplift-project/blob/main/Support_Vector_Machine.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# Importing the libraries

import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [2]:
# Importing the dataset

dataset = pd.read_csv('Social_Network_Ads.csv')
dataset

     Age  EstimatedSalary  Purchased
0     19            19000          0
1     35            20000          0
2     26            43000          0
3     27            57000          0
4     19            76000          0
..   ...              ...        ...
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

[400 rows x 3 columns]

In [3]:
# identifying dependent and independent variables

X = dataset.iloc[:, [0, 1]].values #Independent variables
y = dataset.iloc[:, -1].values #Dependent variable

In [4]:
# Splitting the dataset into the Training set and Test set

from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0) #25% for test and 75% for train

In [5]:
# the values from the Salary column are much higher than in the Age column. This can be a problem, because the impact of the Salary column will be much higher.
# In order to resolve this magnitude problem, we have to scale the attributes. For this I use the StandardScaler from sklearn.

# feature scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [6]:
# Fitting the SVM classification model

from sklearn.svm import SVC

In [7]:
# Model for linear Kernel

classifier_linear = SVC (kernel = 'linear', random_state = 0)
classifier_linear.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=0, shrinking=True, tol=0.001,
    verbose=False)

In [13]:
# Predicting the Test set results

y_pred = classifier_linear.predict(X_test)

In [16]:
print(classifier_linear.predict(sc.transform([[30,87000]])))

[0]

In [14]:
# Making the Confusion Matrix

from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)